NEXT_PUBLIC_API_URL=http://127.0.0.1:8000/api
NEXT_PUBLIC_AUTH_BASE_URL=http://127.0.0.1:8000
NEXT_PUBLIC_GOOGLE_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_IDENTITY_SCRIPT_URL=https://accounts.google.com/gsi/client
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
